/* navbar的部分 */
html{
    font-size: 20px;
}
body{
    margin: 0;background-color: rgb(33, 33, 33);
}
nav{
    background-color: rgb(64, 72, 56);
    display: flex;justify-content: space-between;
}
nav>ul{
    list-style: none;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
    padding-inline-start:0;
    display: flex;align-items: center;
}
nav>ul>li:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: rgb(146, 5, 5);
}
.hamburger{
    display: none;
    margin-right: 1rem;
}
.hamburger>img{
    width: 1rem;height: 1rem;
}

.navbar1>li{
    margin-left: 1rem;text-align: center;color: aliceblue;
}
.navbar2>li{
    margin-right: 1rem;text-align: center;color: aliceblue;
}

/* banner的部分 */
.banner{
    width:100%;height:300px;
    background-color: rgb(34, 33, 33);
    background-image:url("TimeToDisco(4)_0.png");
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;justify-content: center;align-items: center;
    
}
.banner>div{
    font-size: 40px;;text-align: center;
    color: rgb(234, 240, 245);
}
.banner>div:hover{
    cursor: pointer;
    color: rgb(146, 5, 5);
}
/* 主體的部分 */
main{
    display: flex;justify-content: center;
    margin-top: 40px;
    color: rgb(14, 14, 15);
}
.container{
    width: 1200px;
    background-color:rgb(84, 80, 80);
}

/* 主內容上面兩個方框 */
.promotionbox{
    height: 50px;background-color: rgb(84, 80, 80);
    display: flex;justify-content: space-around;
    margin-top: 20px;
}
.promotiontitle:hover{
    cursor: pointer;
    color: rgb(146, 5, 5);
}
.promotion{
    background-color: rgb(205, 155, 108);width: 28.5rem;
    display: flex;align-items: center;justify-content: flex-start;
}
.promotionpic{
    width:80px;height:50px;
    margin-right: 20px;
}
.promotionpic:hover{
    cursor: pointer;
}
.promotionpic>img{
    object-fit: cover;
    width:80px;height: 50px
}
/* 底下8個圖塊 */
.blockbox{
    margin-top: 40px;
    background-color: rgb(84, 80, 80);;
    display: flex;flex-wrap: wrap;justify-content:space-around;
}
.block{
    width: 13.5rem;
    background-color:rgb(205, 155, 108);
    display: flex;flex-direction: column;
    margin-bottom: 40px;
}

/* 圖塊內容 */
.pic{
    width: 270px;
}
.pic:hover{
    cursor: pointer;
}
.pic>img{
    object-fit: cover;
    width:270px;height: 200px
}
.title{
    text-align: center;
}
.title:hover{
    cursor: pointer;
    color: rgb(146, 5, 5);
}
@media (max-width:1200px){
    .container{
        width: 90%;
    }
    .promotion{
        width: 48%;
    }
    .block{
        width: 48%;
    }
    .pic{
        width: 100%;
    }
    .pic>img{
        object-fit: cover;
        width:100%;height: 100%
    }
}
@media (max-width:600px){
    .navbar2{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .promotionbox{
        flex-wrap: wrap;
        height: auto;
        margin-top: 10px;
    }
    .promotion{
        width: 98%;
        margin-bottom:20px ;
    }
    .blockbox{
        margin-top: 0;
    }
    .block{
        width: 98%;
        margin-bottom: 20px;
    }
}